.Title1{
    margin-top: 30%;
    width: 85%;
    margin-left: 15%;
    text-align: right;
    
}
.container{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.Content1{margin-top: 15%;}
.Content2{margin-top: 7%;}
.Content3{margin-top: 11%;}
.Content4{ margin-top: 50%;}
.Title2{
    margin-top: 23%;
    padding-left: 8%;
    width: 50%;
    text-align: left;
}