.Title-Container{
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: rgb(15, 185, 185);
    font-weight: normal;
}

.Director-Profile{
    display: flex;
    justify-content: center;
    font-size: 1.1vw;
}

.Director-Profile-Text{
    width: 50%;
}

.Director-Profile-Images-Container{
    display: flex;
    flex-direction: column;
    width: 28vw;
}

.Director-Profile-Images-Top{
    height: 20vw;
    width: 14vw;
}

.Director-Profile-Images-Bottom{
    margin-left: 10vw;
    margin-top: -3vw;
}

.Supporting-Directors{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

@media only screen and (max-width: 600px) {
    .Director-Profile{
        flex-direction: column;
        align-items: center;
        font-size: 1.5vw;
    }
    .Director-Profile-Text{
        width: 80%;
    }

    .Director-Profile-Images-Container{
        width: 40vw;
    }
    
    .Director-Profile-Images-Top{
        height: 28vw;
        width: 20vw;
    }
    
    .Director-Profile-Images-Bottom{
        margin-left: 15vw;
        margin-top: -10vw;
    }
}