.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.simple-container {
	background-color: lightGrey;
	width: 50%;
	margin: auto;
}

.fade {
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.fade-enter {
  transform: translate(-100%, 0);
}

.fade-enter-active {
  transform: translate(0, 0);
}

.fade-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, .5) inset;
  transform: translate(-100%, 0);
}

.fade--prev.fade-enter {
  transform: translate(100%, 0);
}

.fade--prev.fade-enter-active {
  transform: translate(0, 0);
}

.fade--prev.fade-exit {
  transform: translate(100%, 0);
}

.fade-exit .fade__inner {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.fade h1 {
  margin-top: 0;
}
