/* WEB DESIGNS */
.font {
  font-family: Arial;
}
.row {
  width: 100%;
}
.Audition-info {
  color: #ff4081;
}
.title {
  padding-top: 7%;
}
.audition-text {
  padding-right: 7%;
  padding-left: 5%;
}
.colored-bullets ul {
  list-style: none; /* Remove default bullets */
}
.colored-bullets ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff4081; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 1.5em;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.1em; /* Also needed for space (tweak if needed) */
}
.auditionIMG {
  padding-top: 10%;
  height: 100%;
  padding-left: 10%;
  width: 100%;
}
.mobile {
  display: none;
}
@media only screen and (min-width: 601px) {
  .mobile {
    display: none;
  }
}

/* MOBILE DESIGNS*/
@media only screen and (max-width: 600px) {
  .mobile {
    display: inline-block;
  }
  
  .colored-bullets ul li::before {
    color: rgb(15, 185, 185); /* Change the color */
  }
  .dot {
    display: none;
  }
  .dots {
    display: none;
  }
  .audition-info {
    margin-bottom: -20px;
    text-align: center;
  }
  .image2 {
    margin-left: -8%;
    width: 110%;
  }

  .image1 {
    width: 110%;
    margin-left: -8%;
    padding-bottom: 8%;
  }

  .web {
    display: none;
  }
  .font {
    padding-right: 5%;
    padding-left: 5%;
  }
}
