.font {
    font-family: 'Arial', sans-serif;
}

.audition-info {
    color: #FF4081;
}

.title {
    font-size: 110px;
}

.audition-text {
    padding-right: 7%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.colored-bullets ul {
    list-style: none; /* Remove default bullets */
  }
.colored-bullets ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF4081; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 28px;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1.1em; /* Also needed for space (tweak if needed) */
}

.auditionIMG{
    height: 100%;
    padding-left: 10%;
    padding-bottom: 5%;
    width: 100%;
}

.dot{
    margin-top: 7%;
    margin-left: 8%;
    height: 2.7vh;
    width: 2.7vh;
    background-color: #FF4081;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

.dots{
    margin-left: 38%;
}