
  .Body-Header{
    color: black;
    opacity: 1;
    font: Regular 25px/27px David;
    text-align: left;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 0px;
    font-weight: bold;
    float: right;
    padding-top: 22%;
  }