.reach{
padding-top: 1%;
padding-left: 27%;
width: 35%;
height: 23%;
text-align: left;
font-family: Arial;
font-size:  10vh;
line-height: 11vh;
letter-spacing: 0;
color: #FF4081;
opacity: 1;
}

.number {
padding-top: 10%;
padding-left: 50%;
width: 80%;
height: 24%;
text-align: left;
font-family:Arial;
font-size: 6vh;
line-height: 7vh;
letter-spacing: 0;
color: #000000;
opacity: 1;
}