.bg-custom{
    background-color: white;
}

.container{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.Image{
    margin-top: 10%;
    margin-left: 57%;
    width: 53%;
    height: 56.55vh;
}

.Role{
    color: black;
    font-size: 3.1vh;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-left: 10%;
    margin-top: 9%;
    text-align: left;
}

.Role span {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #e6ffff 60%);
}

.Name{
    color: black;
    font-size: 3.1vh;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    text-align: left;
    padding-top: 7%;
    position: relative;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .Image{
        margin-left: 0%;
        margin-top: 20%;
        width: 77%;
        height: 85%;
    }
    .Name{
        display: none;
    }
    .Role{
        transform: rotate(-90deg);
        font-size: 1.5vh;
        margin-top: 100%;
        text-align: left;
        width: 50%;
        margin-left: 80%;
    }
    .Role span {
        background: linear-gradient(180deg,rgba(255,255,255,0) 40%, #e6ffff 40%);
    }

    .web{
        display: none;
    }

    .mobile{
        display: block;
    }
}

