.dot{
    margin-top: 7%;
    margin-left: 8%;
    height: 2.7vh;
    width: 2.7vh;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

.dots{
    margin-left: 38%;
    padding-bottom: 5%;
}