.text {
    color: #0f0f0f;
    font-size: calc(8vw);
    text-align: left;
    padding-left: 20%;
    font-family: 'Lato', serif;
    font-style:normal;
    padding-top: calc(15vw);
}
.danceimg{
    width: calc(27vw);
    height: calc(35vw);
    display: block;
}
  
.each-slide img {
    width: calc(27vw);
    height: calc(35vw);
}

.danceBannerimg{
    width: calc(100vw);
    height: calc(50vw);
    display: block;
}
  
.each-slide-Banner img {
    width: calc(100vw);
    height: calc(50vw);
}
