.text {
    padding-left: 20%;
    padding-top: calc(20vmin);
	 margin-bottom: -250px;
}
.danceimg{
    padding-right: calc(10vmin);
    top: calc(-45vmin);
	margin-bottom: -250px;
    right: calc(25vmin);
    float: right;
}
@media only screen and (max-width: 600px){
    .text{
        white-space: nowrap;
        padding-left: calc(33.5vmin);
        padding-top: calc(75vmin);
    }
    .danceimg{
        top: calc(-100vmin);
    }
}
