.Footer{
    background-color: rgb(15, 185, 185);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.Contact-Header{
    flex: 1;
    text-align: right;
    margin-left: 3%;
}