.Footer{
    background-color: rgb(15, 185, 185);
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    overflow-x: hidden
}

.Contact-Header{
    flex: 1;
    text-align: right;
    margin-left: 3%;
}

@media only screen and (max-width: 600px) {
    .Footer{
        padding: 3.5%;
        flex-direction: column;
    }

    .Contact-Header{
        flex: none;
        margin-left: 7%;
    }
}