.tabholder {
    font-size: 25px;
}    

.photos-container {
    display: flex;
}

.youtube-iframe {
    height: 30vw;
    width: 50%;
    margin-top: 30px;
}

.videos-container {
    float: left;
    margin-left: 7%;
    margin-right: 3%;
    text-align: center;
    width: 35vw;
    height: 400px;
}

.tab-title {
    margin-top: 30px;
    font-size: 4vw;
}

.DPT-logo {
    margin-top: -40px;
    height: 300px;
    width: 300px;
} 

.subscribe-text {
    font-size: 3vh;
    margin-top: -8%;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .youtube-iframe {
        height: 400px;
    }

    .subscribe-text {
        font-size: 23px;
    }

    .tab-title {
        font-size: 5vw;
        text-align: center;
    }

}

@media only screen and (max-width: 800px) {
    .DPT-logo {
        width: 200px;
        height: 200px;
    }

    .videos-container {
        float: none;
        margin: auto;
        width: 100%;
        margin-bottom: -15%;
    }

    .youtube-iframe {
        margin-top: -20%;
        display: block;
        width: 70%;
        height: 40vw;
        margin: auto;
    }

    .tab-title {
        margin-left: -2%;
        margin-top: 40px;
    }

    .tabholder {
        font-size: 25px;
    }


    .subscribe-text {
        margin-top: -3%;
        font-size: 22px;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .photos-container {
        display: inline;
    }

    .youtube-iframe {
        width: 100%;
    }

    .videos-container {
        margin-bottom: -25%;
    }

    .DPT-logo {
        margin-top: -5%;
        width: 150px;
        height: 150px;
    }

    .youtube-iframe {
        margin-top: -25%;
        width: 70%;
        height: 40vw;
    }

    .subscribe-text {
        font-size: 4.2vw;
    }

    .tab-title {
       font-size: 5vh;
       margin-left: 0px;
       margin-top: 30px;
       margin-bottom: 20px;
    }

    .tabholder {
        font-size: 25px;
    }
}