/*
* HOVER COLOR CHANGE
*/
.NavBarHeader {
    text-decoration: none !important;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.NavBarHeader:hover{
    color: #FF4081 !important; 
    transition: 0.4s !important;
}

@media only screen and (max-width: 1300px) {
    .NavBarHeader{
        font-size: 14.4px;
    }
}