
.Text-Container{
    margin-top: 4%;
    display: flex;
}
.Left-Container{
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.Right-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dynamic-Text{
    text-align: left;
    margin-left: 15%;
    font-size: 4.9vw;
}

.Static-Text{
    margin-left: 15%;
    font-size: 1.15vw;
    margin-right: 2%;
}

.Footer{
    background-color: rgb(15, 185, 185);
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-Header{
    text-align: right;
    flex: 1;
    color: white;
}

