
.Text-Container{
    margin-top: 1%;
    display: flex;
}
.Left-Container{
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.Right-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dynamic-Text{
    text-align: left;
    margin-left: 15%;
    font-size: 4.9vw;
}

.Static-Text{
    margin-left: 15%;
    font-size: 1.15vw;
    margin-right: 2%;
}

.Footer{
    background-color: rgb(15, 185, 185);
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-Header{
    flex: 1;
    text-align: right;
}

.Scroll-Button{
    background-color: rgb(15, 185, 185);
    border: none;
    position: absolute;
    bottom: 0;
    display: block;
    /* position: relative;
    margin-top: -5vw;
    z-index: 1;
    display:block; */
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

