.Title{
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 10.5vh;
    letter-spacing: 0;
    color: #FF4081;
    opacity: 1;
}

.container{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.Content1{
    margin-top: 5%;
    width: 85%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 2.3vh;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.Content2{
    margin-top: 5%;
    padding-left: 10%;
    width: 85%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 2.3vh;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.Image{
    margin-top: 5%;
    width: 99%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linked{
    text-decoration: underline;
}

.column1{
    padding-left: 6%;
}

.column2{
    padding-right: 6%;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .Title{
        text-align: left;
        font-size: 7vh;
        margin-top: 10%;
        width: 50%;
        margin-left: 20%;
    }

    .Content1{
        text-align: left;
        margin-top: 5%;
        margin-left: 14%;
        width: 70%;
        font-size: 2.2vh;
    }
    .Content2{
        text-align: left;
        margin-top: 5%;
        margin-left: 14%;
        width: 70%;
        font-size: 2.2vh;
    }
 
    .web{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}