
.container{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.Content4{

    margin-top: 50%;
    margin-left: 30%;
    width: 80%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 3.1vh;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.Title2{
    margin-top: 23%;
    padding-left: 8%;
    width: 50%;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 13.5vh;
    letter-spacing: 0;
    opacity: 1;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .Title2{
        margin-top: 25%;
        text-align: right;
        font-size: 7vh;
        width: 70%;
        margin-left: 20%;
    }

    .Content4{
        text-align: right;
        margin-left: 10%;
        font-size: 1.8vh;
        margin-top: 0%;
        font-weight: bold;
    }
 
    .web{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}