.text {
    color: #0f0f0f;
    font-size: calc(8vw);
    text-align: left;
    padding-left: 20%;
    font-family: 'Lato', serif;
    font-style:normal;
    padding-top: calc(15vw);
}
.danceimg{
    width: calc(27vw);
    height: calc(35vw);
    display: block;
}
  
.each-slide img {
    width: calc(27vw);
    height: calc(35vw);
    object-fit: cover;
    image-rendering: pixelated;
}

.each-slide-special img{
    width: calc(27vw);
    height: calc(35vw);
    object-fit: cover;
    image-rendering: pixelated;
    object-position: top left;
}

/* .danceBannerimg{
    width: calc(60vw);
    height: calc(40vw);
    display: block;
}
  
.each-slide-Banner img {
    width: calc(60vw);
    height: calc(40vw);
    object-fit: cover
} */
