.Social ul {
    padding-left: 10px;
    padding: 0;
    margin-right: 0px;
    display: flex;
}

.Social ul li {
    list-style: none;
    margin: 0 11px;
}

.Social ul li a {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    background-color: #333333;
    transition: 0.5s;
    transform: translate(0,0px);
    text-decoration: none;
    text-align: center;
}

.Social ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 139px;
    border-radius: 4px;
    font: Medium 17px/13px Whyte Inktrap;
    color: white;
    line-height: 170%;
    border-color: blue;
} 

.Social ul li a:hover{
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.subscribe-modal {
    text-align: center;
    margin: auto;
    margin-top: 2vw;
    width: 30vw;
    border: 1px solid rgb(204, 204, 204); 
    background: rgb(255, 255, 255); 
    overflow: auto; 
    border-radius: 4px; 
    outline: none; 
    padding: 20px 20px 0px 20px;
}

.subscribe-modal h1 {
    color: white;
    font-size: 2.4vw;
    background-color: #FF4081;
}

.subscribe-modal p {
    margin-top: 2vw;
    font-size: 1.4vw;
    font-style: italic;
}

.Newsletter-Feedback{
    font-size: 1.4vw;
}

.subscribe-input{
    font-size: 1.7vw;
    width: 100%;
    border: 4px solid #FF4081; 
    border-radius: 10px; 
    margin-top: 2vw;
    box-shadow: 4px 4px 4px rgb(15, 185, 185);
}

.subscribe-input::placeholder{
    color: #686565;
}


.submit-button {
    margin-top: 2vw;
    font-size: 1.6vw;
    color: white;
    background-color: #FF4081;
    box-shadow: 4px 4px 4px black;
    border-radius: 5px; 
}

.submit-button:hover {
    background: linear-gradient(
       45deg, rgb(18, 106, 179), rgb(15, 185, 185), #FF4081
    );
    box-shadow: none;
}

.subscribe-img{
    margin-top: 2vw;
    width: 100%;
    border-radius: 15px; 
}

.mailchimp-form {
    background: #FF4081;
    border-radius: 2%;
    padding: 10;
    margin-top: 10vh;
    display: inline-block;
    z-index: 11;
}

.mailchimp-box {
    background: #efefef;
    padding: 10;
    margin-top: 10vh;
    display: inline-block;
    border-radius: 2;
}

::placeholder {
    color: #333333 ;
    
    position: relative;
    animation: move-text 1.75s forwards;
}

@keyframes move-text {
    0% { bottom: 0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}

 @media only screen and (max-width: 1300px){
    .Social {
        margin-top: -5px;
    }

    .Social ul {
        padding-left: 8px;
        padding: 0;
        display: flex;
    }
    .Social ul li {
        list-style: none;
        margin: 0 5px;
        line-height: 2%;
    }

    .instagram-iconImg {
        margin-top: 1px;
    }
    
    .mail-iconImg {
        margin-top: 15%;
    }

    .facebook-iconImg {
        margin-top: -10%;
        height: 35px;
        width: 35px;
    }
    .youtube-iconImg {
        margin-top: 5%;
    }

    .yelp-iconImg {
        margin-top: 15%;
        height: 25px;
        width: 25x;
    }

    .Social ul li a {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 10%;
        color: #FFFFFF;
        background-color:#333333;
        transition: 1s;
        transform: translate(0,0px);
        transform: scale(0.8);
    }

    .Social ul li:nth-child(2) img{
        transform: scale(0.8);
        transform: translateY(-5%);
    }

    .Social ul li:nth-child(3) img {
        transform: scale(0.8);
        transform: translateY(10%);
    }
    
    .Social ul li:last-child a{
        position: relative;
        display: inline-block;
        width: 139px;
        border-radius: 2%;
        line-height: 150%;
        font-size: 20px;
    }
} 

@media only screen and (max-width: 1150px){
    .Social {
        margin-top: -5px;
    }

    .Social ul {
        padding-left: 8px;
        padding: 0;
        
    }
    .Social ul li {
        list-style: none;
        margin: 0.60vh;
        line-height: 2%;
    }

    .instagram-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }
    
    .mail-iconImg {
        margin-top: 1%;
        height: 4vw;
        width: 4.5vw;
    }

    .facebook-iconImg {
        margin-top: -13%;
        height: 4.5vw;
        width: 4.5vw;
    }
    .youtube-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }

    .yelp-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }

    .Social ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vw;
        height: 5vw;
        border-radius: 10%;
        color: #FFFFFF;
        background-color:#333333;
        transition: 1s;
        transform: translate(0,0px);
        transform: scale(0.8);
    }

    .Social ul li:nth-child(2) img{
        transform: scale(0.8);
        transform: translateY(-5%);
    }

    .Social ul li:nth-child(3) img {
        transform: scale(0.8);
        transform: translateY(10%);
    }
    
    .Social ul li:last-child a{
        position: relative;
        display: inline-block;
        width: 120px;
        border-radius: 2%;
        line-height: 150%;
    }
}

@media only screen and (max-width: 900px){

    .Social ul li {
        margin: 0.5vw;
    }

    .Social ul li a {
        width: 115%;
        height: 115%;
    }
}


@media only screen and (max-width: 700px){

    .Social ul li {
        margin: 1.2vw;
    }

    .Social ul li a {
        width: 135%;
        height: 135%;
    }

    @media only screen and (orientation:portrait) {


        .subscribe-modal {
            width: 40vh;
            margin-top: 10vw;
        }

        .subscribe-modal h1 {
            font-size: 3.4vh;
        }
        
        .subscribe-modal p {
            font-size: 2.4vh;
        }

        .Newsletter-Feedback{
            font-size: 2.4vh;
        }
        
        .subscribe-input{
            font-size: 2.7vh;
            margin-top: 2vh;
        }
        
        .submit-button {
            margin-top: 2.5vh;
            font-size: 2.6vh;
        }
        
        .subscribe-img{
            margin-top: 3vh;
            height: 17vh;
        }

        .instagram-iconImg {
            height: 5vh;
            width: 5vh;
        }
        
        .mail-iconImg {
            margin-top: 1%;
            height: 4vh;
            width: 5vh;
        }
    
        .facebook-iconImg {
            margin-top: -13%;
            height: 5vh;
            width: 5vh;
        }
        .youtube-iconImg {
            height: 5vh;
            width: 5vh;
        }
    
        .yelp-iconImg {
            height: 5vh;
            width: 5vh;
        }

    }

    @media only screen and (orientation:landscape) {

        .subscribe-modal {
            width: 40vw;
            margin-top: 0vw;
        }

        .subscribe-modal h1 {
            font-size: 2.6vw;
        }
        
        .subscribe-modal p {
            font-size: 1.4vw;
        }

        .Newsletter-Feedback{
            font-size: 1.4vw;
        }
        
        .subscribe-input{
            font-size: 2vw;
            margin-top: 2vh;
        }
        
        .submit-button {
            margin-top: 2.5vh;
            font-size: 1.8vw;
        }
        
        .subscribe-img{
            margin-top: 3vh;
            height: 10vw;
        }
       
        .instagram-iconImg {
            height: 5vw;
            width: 5vw;
        }
        
        .mail-iconImg {
            margin-top: 1%;
            height: 4vw;
            width: 5vw;
        }

        .facebook-iconImg {
            margin-top: -13%;
            height: 5vw;
            width: 5vw;
        }
        .youtube-iconImg {
            height: 5vw;
            width: 5vw;
        }

        .yelp-iconImg {
            height: 5vw;
            width: 5vw;
        }
    }
}