.Social ul {
    padding-left: 10px;
    padding: 0;
    margin-right: 0px;
    display: flex;
}

.mailchimp-input-container {
    background: #FF4081;
    border-radius: 2%;
    padding: 10;
    margin-top: 30px;
    display: inline-block;
    height: auto;
    width: 20vw;
}

.Social ul li {
    list-style: none;
    margin: 0 11px;
}

.Social ul li a {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    background-color: #333333;
    transition: 0.5s;
    transform: translate(0,0px);
    text-decoration: none;
    text-align: center;
}

.Social ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 139px;
    border-radius: 4px;
    font: Medium 17px/13px Whyte Inktrap;
    color: white;
    line-height: 170%;
    border-color: blue;
} 

.Social ul li a:hover{
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.subscribe-modal {
    text-align: center;
    font-size: 30px;
    height: 40vw;
    width: 30vw;
    background: rgb(255, 255, 255);
    border-radius: 4px; 
    outline: none; 

    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

.subscribe-modal h1 {
    color: #FF4081;
    font-size: 3vw;
    margin-top: 3vw;
}


.submit-button {
    font-size: 15px;
    padding: 5;
    margin-top: 5px;
    height: 30px;
    width: 70px;
    color: white;
    background-color: #333333;
    border-color: #333333;
    border-radius: 10%;
    transition: 0.5s;
    transform: translate(0,0px);
    text-decoration: none;
}

.submit-button:hover {
    background-color: #4d4d4d;
    transition: 0.5s;
    cursor: pointer;
}

.close-button {
    font-size: 15px;
    padding: 5;
    margin-top: 40px;
    color: white;
    background-color: #FF4081;
    border-color: #FF4081;
    height: 30px;
    width: 70px;
    border-radius: 10%;
    transition: 0.5s;
    transform: translate(0,0px);
    text-decoration: none;
}

.close-button:hover {
    background-color: #FF6699;
    transition: 0.5s;
    cursor: pointer;
}

.mailchimp-form {
    background: #FF4081;
    border-radius: 2%;
    padding: 10;
    margin-top: 10vh;
    display: inline-block;
    z-index: 11;
}

.mailchimp-box {
    background: #efefef;
    padding: 10;
    margin-top: 10vh;
    display: inline-block;
    border-radius: 2;
}

::placeholder {
    color: #333333 ;
    
    position: relative;
    animation: move-text 1.75s forwards;
}

@keyframes move-text {
    0% { bottom: 0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}

 @media only screen and (max-width: 1300px){
    .Social {
        margin-top: -5px;
    }

    .Social ul {
        padding-left: 8px;
        padding: 0;
        display: flex;
    }
    .Social ul li {
        list-style: none;
        margin: 0 5px;
        line-height: 2%;
    }

    .instagram-iconImg {
        margin-top: 1px;
    }
    
    .mail-iconImg {
        margin-top: 15%;
    }

    .facebook-iconImg {
        margin-top: -10%;
        height: 35px;
        width: 35px;
    }
    .youtube-iconImg {
        margin-top: 5%;
    }

    .yelp-iconImg {
        margin-top: 15%;
        height: 25px;
        width: 25x;
    }

    .Social ul li a {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 10%;
        color: #FFFFFF;
        background-color:#333333;
        transition: 1s;
        transform: translate(0,0px);
        transform: scale(0.8);
    }

    .Social ul li:nth-child(2) img{
        transform: scale(0.8);
        transform: translateY(-5%);
    }

    .Social ul li:nth-child(3) img {
        transform: scale(0.8);
        transform: translateY(10%);
    }
    
    .Social ul li:last-child a{
        position: relative;
        display: inline-block;
        width: 139px;
        border-radius: 2%;
        line-height: 150%;
        font-size: 20px;
    }
} 

@media only screen and (max-width: 1150px){
    body {
        background-color: blue;
    }
    .subscribe-modal {
        text-align: center;
        font-size: 30px;
        height: 40vw;
        width: 30vw;
        background: rgb(255, 255, 255);
        border-radius: 4px; 
        outline: none; 

        position: absolute;
        left: 0; right: 0;
        top: 700px; bottom: 800px;
        margin: auto;
    }

    .Social {
        margin-top: -5px;
    }

    .Social ul {
        padding-left: 8px;
        padding: 0;
        
    }
    .Social ul li {
        list-style: none;
        margin: 0.60vh;
        line-height: 2%;
    }

    .instagram-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }
    
    .mail-iconImg {
        margin-top: 1%;
        height: 4vw;
        width: 4.5vw;
    }

    .facebook-iconImg {
        margin-top: -13%;
        height: 4.5vw;
        width: 4.5vw;
    }
    .youtube-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }

    .yelp-iconImg {
        height: 4.5vw;
        width: 4.5vw;
    }

    .Social ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vw;
        height: 5vw;
        border-radius: 10%;
        color: #FFFFFF;
        background-color:#333333;
        transition: 1s;
        transform: translate(0,0px);
        transform: scale(0.8);
    }

    .Social ul li:nth-child(2) img{
        transform: scale(0.8);
        transform: translateY(-5%);
    }

    .Social ul li:nth-child(3) img {
        transform: scale(0.8);
        transform: translateY(10%);
    }
    
    .Social ul li:last-child a{
        position: relative;
        display: inline-block;
        width: 120px;
        border-radius: 2%;
        line-height: 150%;
    }
}

@media only screen and (max-width: 900px){

    .Social ul li {
        margin: 0.5vw;
    }

    .Social ul li a {
        width: 115%;
        height: 115%;
    }
}

@media only screen and (max-width: 1024px) and (min-height: 1023px) {
        .subscribe-modal {
            bottom: 30vh;
            top: 20vh;
        }
    
        .subscribe-modal h1 {
            margin-bottom: -5vh;
        }
    
        .close-button {
            margin-top: 5vh;
        }
    
}

@media only screen and (max-width: 700px){

    .Social ul li {
        margin: 1.2vw;
    }

    .Social ul li a {
        width: 135%;
        height: 135%;
    }

    .subscribe-modal {
        bottom: 175px;
    }

    .subscribe-modal h1 {
        margin-bottom: -5vh;
    }

    .close-button {
        margin-top: 5vh;
    }
    @media only screen and (orientation:portrait) {

        .instagram-iconImg {
            height: 5vh;
            width: 5vh;
        }
        
        .mail-iconImg {
            margin-top: 1%;
            height: 4vh;
            width: 5vh;
        }
    
        .facebook-iconImg {
            margin-top: -13%;
            height: 5vh;
            width: 5vh;
        }
        .youtube-iconImg {
            height: 5vh;
            width: 5vh;
        }
    
        .yelp-iconImg {
            height: 5vh;
            width: 5vh;
        }

    }

    @media only screen and (orientation:landscape) {
       
        .instagram-iconImg {
            height: 5vw;
            width: 5vw;
        }
        
        .mail-iconImg {
            margin-top: 1%;
            height: 4vw;
            width: 5vw;
        }

        .facebook-iconImg {
            margin-top: -13%;
            height: 5vw;
            width: 5vw;
        }
        .youtube-iconImg {
            height: 5vw;
            width: 5vw;
        }

        .yelp-iconImg {
            height: 5vw;
            width: 5vw;
        }
    }
}