.Social ul {
    padding-left: 10px;
    padding: 0;
    margin-right: 0px;
    display: flex;
}

.Social ul li {
    list-style: none;
    margin: 0 11px;
}

.Social ul li a {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    color: #FF4081;
    background-color: #333333;
    transition: 0.5s;
    transform: translate(0,0px);
    text-decoration: none;
    text-align: center;
}

.Social ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 139px;
    border-radius: 4px;
    font: Medium 17px/13px Whyte Inktrap;
    color: white;
    line-height: 170%;
    border-color: blue;
} 

.Social ul li a:hover{
    color: white;
    background-color: #FF4081;
    transition: 0.5s;
}

@media only screen and (max-width: 1300px){
    .Social {
        margin-top: 10px;
    }

    .Social ul {
        padding-left: 8px;
        padding: 0;
        margin-bottom: 35px;
        display: flex;
    }
    .Social ul li {
        list-style: none;
        margin: 0 8.8px;
        line-height: 2%;
    }

    .instagram-iconImg {
        margin-top: 1px;
    }
    
    .mail-iconImg {
        margin-top: 15%;
    }

    .facebook-iconImg {
        margin-top: -10%;
        height: 35px;
        width: 35px;
    }
    .youtube-iconImg {
        margin-top: 5%;
    }

    .yelp-iconImg {
        margin-top: 15%;
        height: 25px;
        width: 25x;
    }

    .Social ul li a {
        position: relative;
        display: inline-block;
        width: 33px;
        height: 33px;
        border-radius: 10%;
        color: #FFFFFF;
        background-color:#333333;
        transition: 1s;
        transform: translate(0,0px);
        transform: scale(0.8);
    }

    .Social ul li:nth-child(2) img{
        transform: scale(0.8);
        transform: translateY(-5%);
    }

    .Social ul li:nth-child(3) img {
        transform: scale(0.8);
        transform: translateY(10%);
    }
    
    .Social ul li:last-child a{
        position: relative;
        display: inline-block;
        width: 120px;
        border-radius: 2%;
        line-height: 150%;
    }
}