.Support-Text{
    color: black;
    text-align: left;
    opacity: 1;
    font-size: 2.2vh;
    font-family: 'Lato', serif;
    letter-spacing: 0;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%,-40%);
    position: absolute;
    top: 55%;
    left:30%;
    white-space: pre-line;
    width: 30%;
    
  }
.Header-Text{
    text-align: left;
    font-family: 'Lato', serif;
    font-size: 12.5vh;
    letter-spacing: 0;
    color: #FF4081;
    opacity: 1;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%,-40%);
    line-height: 15vh; 
    position: absolute;
    top: 55%;
    left:70%;
    width: 30%;
}

.container{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}