
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important;
  margin-right: 2rem;
}

dropdown-item.active, .dropdown-item:active {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgba(29, 153, 202, 0.7) !important;
}