.bg-custom{
  background-color: white;
}
.container{
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
}


.Home-Header{
  color: black;
  font-size: 140%;
  font-weight: bold;
  width: 125px;
  height: 50px;
  text-decoration: none !important; 
  
}
  
.Auditions-Header{
  color: black; 
  font-size: 140%;
  font-weight: bold;
  width: 125px;
  height: 50px;
  text-decoration: none !important; 
}
.Support-Header{
  color: black;
  font-size: 140%;
  width: 125px;
  height: 50px;
  font-weight: bold;
  text-decoration: none !important; 
}
.Contact-Header{
  color: black;
  font-size: 140%;
  width: 125px;
  height: 50px;
  font-weight: bold;
  text-decoration: none !important; 
}

.Dropdown-Header{
  color: black;
  font-weight: bold;
  font-size: 140%;
  width: 125px;
  height: 50px;
  text-decoration: none !important; 
}
:window-inactive

.Home-Header:hover{
  color: #FF4081 !important; 
  transition: 0.5s !important;
}
.Home-Header:hover{
  color: #FF4081 !important; 
  transition: 0.5s !important;
}
.Auditions-Header:hover{
  color: rgb(15, 185, 185)!important;
  transition: 0.5s !important;
}
.Support-Header:hover{
  color: #FF4081 !important;
  transition: 0.5s !important;
}
.Contact-Header:hover{
  color: rgb(15, 185, 185) !important;
  transition: 0.5s !important;
}

.Dropdown-Header:hover{
  color: rgb(15, 185, 185)!important;
  transition: 0.5s !important;
}

.logo-text{
  text-decoration: none !important;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
  color: rgba(29, 153, 202, 0.7) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important;
}

.dropdown-menu {
  padding: 0rem 0;
  margin: -.875rem 0 0;
}


.nav-link {
  display: block;
  padding: 0rem 0rem;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
}
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
}
}


dropdown-item.active, .dropdown-item:active {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgba(29, 153, 202, 0.7) !important;
}

@media only screen and (max-width: 990px) {
  .dropdown-menu {
    padding: 1rem 0;
    margin: 0rem 0 0;
  } 
  

}